nav {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-left: 60px;
    padding-right: 60px;
    /* height: 60px; */

    background-color: #ccc;
}
nav ul {
    list-style: none;
    display: flex;
}
nav li {
    margin-left: 30px;
    font-size: 14px;
}
nav a {
    text-decoration: none;
    color: #000;
    line-height: 60px;
}
nav .cart, nav .user {
    position: relative;
    bottom: -5px;
}
nav .logo img {
    width: 200px;
}