@media(max-width:1200px){
    nav {
        width: 100%;
        display: flex;
        position: fixed;
        z-index: 999;
        background-color: #fff;
        border-bottom: 1px solid #000;
        box-shadow: 0px 1px 4px rgba(0,0,0,.3);
    }
    nav .logo {
        margin: auto;
        height: 60px;
        display: flex;
        align-items: center;
    }
    nav .logo img {
        width: 200px;
    }
    nav .menu {
        /* display: none; */
        position: fixed;
        z-index: 100;
        height: calc(100% - 61px);
        background-color: #fff;
        width: 100%;
        bottom: 0;
    }
    nav .menu li {
        border-bottom: 1px solid #c3c3c3;
        padding-left: 15px;
        list-style: none;

    }
    nav .menu a {
        text-decoration: none;
        color: #000;
        line-height: 50px;

    }
    nav .menu .cart {
        position: absolute;
        right: 15px;
        top: -45px;
        border-bottom: 0;
        display: block;
    }
    .toggle-icon {
        display: block;
        position: absolute;
        left: 15px;
        top: 20px;
        color: #000;
    }
    nav .menu ul {
        display: flex;
        flex-direction: column;
    }
    .user {
        order: -1;
    }
}
@media(min-width:1200px){
    .toggle-icon {
        display: none;
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 60px;
        padding-right: 60px;
    
        background-color: #fff;
        box-shadow: 0px 1px 4px rgba(0,0,0,.3);
        /* box-shadow: 水平距離 垂直距離 模糊程度 陰影顏色 */
        position: fixed;
        z-index: 999;
    }
    nav ul {
        list-style: none;
        display: flex;
    }
    nav li {
        margin-left: 30px;
        font-size: 14px;
    }
    nav .menu a {
        text-decoration: none;
        color: #000;
        line-height: 60px;
    }
    nav .cart, nav .user, nav .store {
        position: relative;
        bottom: -5px;
    }
    nav .logo {
        height: 60px;
        display: flex;
        align-items: center;
    }
    nav .logo img {
        width: 200px;
    }
}
/* header */
header img {
    width: 100%;
}
/* slogan */
#slogan {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.slogan-line {
    height: 60px;
    width: 2px;
    background-color: #fa0;
    margin: auto;
}
#slogan h2 {
    color: #fa0;
    margin-top: 50px;
    margin-bottom: 60px;
}
#slogan p {
    color: #888;
    font-size: 18px;
}
/* news */
#news {
    padding-top: 50px;
    padding-bottom: 50px;
}
#news .news-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#news .news-items {
    border-top: 1px solid #b3b3b3;
    margin-top: 20px;
    margin-bottom: 20px;
}
#news .news-link {
    display: flex;
    /* justify-content: ; */
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #b3b3b3;

    text-decoration: none;
}
#news .news-caption {
    color: #222;
    transition: .4s;
}
#news .news-link:hover .news-caption{
    color: #fa0;
}

#news .news-more {
    color: #a8a8a8;
    text-decoration: none;
    margin-right: 60px;
    transition: .6s
}
#news .news-more:hover {
    color: #fa0;
}
#news .news-date {
    width: 200px;
    text-align: center;
    color: #a8a8a8;
}
#news .news-category {
    width: 300px;
    color: #a8a8a8;
}

/* products */
#products {
    padding: 60px;
}
.products-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.products-items {
    position: relative;
}
.products-info {
    position: absolute;
    /* background-color: #098; */
    width: 100%;
    text-align: center;
    bottom: 0;
    color: #fff;
}
.products-text{
    margin: 10px 0;
}
/* banner */
#banner > [class^="col"] {
    padding: 0;
}
#banner .row [class^="col"]{
    padding: 1.5px;
}
#banner .banner-content {
    position: relative;
}
#banner .banner-content::after {
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 179, 15, .8);
    z-index: 98;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .6s
}
#banner .banner-content:hover::after {
    opacity: 1;
}
#banner .banner-content:hover .banner-info {
    color: #000;
}
#banner .banner-info {
    position: absolute;
    color: #fff;
    z-index: 99;
    width: 100%;
    bottom: 0;
    transition: .6s
}
#banner .banner-text {
    margin: 15px;
}
/* .p-0 {
    padding: 0;
} */

/* footer */
footer {
    background-color: #dddddd;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 14px;
}
footer .row {
    align-items: flex-start;
}
footer li {
    margin-bottom: 20px;
}
.footer-contact div{
    margin-bottom: 20px;
}   

footer .footer-list {
    margin-top: 35px;
}
footer li {
    list-style: none;
}
footer li a {
    color: #222;
    text-decoration: none;
}
footer i {
    display: inline-block;
    width: 30px;
    color: #fa0;
}
/* service */
.service {
    width: 75px;
    height: 75px;
    background-color: #fa0;
    position: fixed;
    right: 30px;
    bottom: 100px;
    border-radius: 50%;
    border: 2px solid #a7a7a7;
    box-shadow: 0 2px 15px rgba(0,0,0,.5);
    z-index: 999;
}
.msg {
    background-color: #fff;
    position: fixed;
    border-radius: 50px;
    right: 120px;
    bottom: 115px;
    padding: 8px 10px;
    z-index: 999;
    box-shadow: 0 2px 15px rgba(0,0,0,.5);
    font-size: 12px;
}
.top {
    background-color: #fa0;
    padding: 5px;
    position: fixed;
    z-index: 999;
    right: 30px;
    bottom: 45px;
    color: #fff;
    opacity: .7;
}
