nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;

    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0,0,0,.3);
    /* box-shadow: 水平距離 垂直距離 模糊程度 陰影顏色 */
    position: fixed;
}
nav ul {
    list-style: none;
    display: flex;
}
nav li {
    margin-left: 30px;
    font-size: 14px;
}
nav .menu a {
    text-decoration: none;
    color: #000;
    line-height: 60px;
}
nav .cart, nav .user, nav .store {
    position: relative;
    bottom: -5px;
}
nav .logo {
    height: 60px;
    display: flex;
    align-items: center;
}
nav .logo img {
    width: 200px;
}
/* header */
header img {
    width: 100%;
}
/* slogan */
#slogan {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.slogan-line {
    height: 60px;
    width: 2px;
    background-color: #fa0;
    margin: auto;
}
#slogan h2 {
    color: #fa0;
    margin-top: 50px;
    margin-bottom: 60px;
}
#slogan p {
    color: #888;
    font-size: 18px;
}